<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <center>
    <h1>Filters</h1>
    <h2>{{data|lower}}</h2>
    <h2>{{data|upper}}</h2>
    <h2>{{data|title}}</h2>
    <h2>{{data|capfirst}}</h2>
    <h2>{{data|length}}</h2>
    <h2>{{data|truncatechars:'3'}}</h2>
    <h2>{{data|truncatewords:'3'}}</h2>
    <h2>{{data|slice:'4'}}</h2>
    <h3>I have {{c}} chocolate{{c|pluralize}}</h3>
    <h3>There {{c|pluralize:'is,are'}} {{c}} book{{c|pluralize}}</h3>
    <h2>{{dt|date:'Y'}}</h2>
    <h2>{{dt|date:'d'}}</h2>
    <h2>{{dt|date:'j'}}</h2>
    <h2>{{dt|date:'j S'}}</h2>
    <h2>{{dt|date:'m'}}</h2>
    <h2>{{dt|date:'n'}}</h2>
    <h2>{{dt|date:'b'}}</h2>
    <h2>{{dt|date:'M'}}</h2>
    <h2>{{dt|date:'F'}}</h2>
    <h2>{{dt|date:'y'}}</h2>
    <h2>{{dt|date:'D'}}</h2>
    <h2>{{dt|date:'I'}}</h2>
    <h2>{{dt|date:'G'}}</h2>
    <h2>{{dt|date:'H'}}</h2>
    <h2>{{dt|date:'g'}}</h2>
    <h2>{{dt|date:'h'}}</h2>
    <h2>{{dt|date:'a'}}</h2>
    <h2>{{dt|date:'A'}}</h2>
    <h2>{{dt|date:'i'}}</h2>
    <h2>{{dt|date:'s'}}</h2>
  </center>
</body>
</html>